
body {
  margin: 0;
  background: url("img/cityscape.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  min-height: 100vh;
  font-size: 16px;
  background-color: black;
  color:white;
}

header {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 30px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  /* background-color: gray; */
  height: 80px;
  /* vertical-align: top; */
}

header h2 {
  /* margin-top: 25px; */
  /* vertical-align: top; */
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 400px;
  
}

section {
  /* background: gray; */
  margin: 40px auto 0 auto;
  width: 1100px;
  /* text-align: left; */
  /* width: 100%; */
  /* padding-bottom: 30px; */
}

.section-box {
  display: inline-block;
  text-align: center;
  background: purple;
  box-sizing: border-box;
  width: 450px;
  height: 400px;
  vertical-align: top;
  border-radius: 30px;
  padding: 30px;
  /* margin: 10px; */
}

.row.container {
  /* margin-left: 50px; */
}

h3 {
  font-size: 24px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
  
}

#hangman {
  display: inline-block;
  position: relative;
  background: rgba(0,0,0,.5);
  /* margin-right: 96px; */
  /* margin-right: 46px; */
  /* text-align: left; */
}

#guess {
  display: inline-block;
  position: relative;
  width: 550px;
  margin-left: 70px;
  background: rgba(0,0,0,.5);
}

#word {
font-family: 'Chakra Petch', sans-serif;
letter-spacing: 5px;
font-size: 30px;
padding-top: 25px;
}

#alphabet {
  margin-top: 70px;
}

#hangman img.stand {
  width: 80%;
  position: absolute;
  top:75px;
  left: 0;
}

#hangman img.bodypart {
position: absolute;
top: 65px;
left: 60px;
width: 60%;
}

h6.emoji {
  font-size: 20px;
  color: #d000d0;
  position: absolute;
  bottom: -1px;
  top: 350px;
  left: 80px;
}

button, a {
  width: 30px;
  font-size: 18px;
  font-style: bold;
  font-family: 'Chakra Petch', sans-serif;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px outset #d000d0;
  transition-duration: 1s;
}

button:focus {
  background-color: white;
  color: black;
}

.letter {
  display: inline-block;
  position: relative;
  margin: 10px;
  /* width: 20px; */
  height: 40px;
}

.hidden {
  /* display: none; */
}

button.newgame {
  width: 180px;
  font-size: 25px;
  padding: 10px 0;
  margin-right: 5%;
  position: absolute;
  top: 0;
  left: 800px;
}


div.refresh {
  margin-top: 30px;
  text-align: center;
}

div.modal-body {
  font-size: 20px;
}

div.modal-footer button {
    width: 60px;
    text-align: center;
}

a {
    width: 200px;
    text-align: center;
    text-decoration: none;
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kelly Slab', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rajdhani', sans-serif; */


// Have a modal pop up that tells the player what the anime was when they lose all of their lives